body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0;
    background-color: rgb(202, 193, 175);
}



#div-icon-menu{
    height: 55px;
    width: 55px;
    border-radius: 0 0 10px 0;
    background-color: rgb(90, 62, 53);
    position: fixed;
    top: 0;
    left: 0;
    transition: all 0.6s ease;
    z-index: 100;
}

#div-icon-menu.scrolled{
    width: 0;
}

#main-header{
    width: 100%;
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0;
    z-index: 99;
    transition: all 0.6s ease;
    background-color: transparent;

    background-color: rgb(202, 193, 175);
    box-shadow: 0px 6px 10px rgb(202, 193, 175);
}

#main-header.scrolled{
    background-color: rgb(90, 62, 53);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

#main-header.scrolled .text-main-title{
    color: white;
}

.div-main-title{
    height: 50px;
    width: 500px;
    margin-top: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-main-title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 30px;
    margin: 0;
    transition: color 0.6s ease;
}

.div-subtitle{
    height: 30px;
    width: 700px;
    margin-top: 5px;
    margin-bottom: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.text-subtitle{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}



.div-main-content{
    width: calc(100% - 200px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 20px 0 20px;

    border: 2px solid rgb(90, 62, 53);
    border-radius: 20px;
    background-color: rgb(231, 231, 229);
}

.text-title-main-content{
    margin-bottom: 5px;
    
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 25px;
    color: rgb(90, 62, 53);
}

.div-body-main-content{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    text-align: justify;
    hyphens: auto;
    width: 100%;

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
    line-height: 0.5;
}

.div-body-main-content li{
    line-height: 1.5;
}

.div-body-main-content img{
    max-width: 45%;
    max-height: 40vh;
    width: 100%;
    height: auto;
    object-fit: contain;
}