<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet Euro ADC - Images</title>
    <link rel="icon" type="svg" href="{{ url_for('static', filename='images/leaf.svg') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/scripts.js') }}" defer></script>
</head>
<body>
    <div id="side-menu" class="side-menu">
        <span class="close-btn" onclick="toggleMenu()">&times;</span>
        <div class="menu-content">
            <p class="menu-title">Menu</p>
            <nav>
                <a href="/">Accueil</a>
                <a href="/articles">Articles</a>
                <a href="/images">Images</a>
                <a href="/admin">Administration</a>
            </nav>
        </div>
    </div>

    <div id="overlay" class="overlay" onclick="toggleMenu()"></div>

    <div id="main-wrapper">
        <div class="div-icon-menu" id="div-icon-menu"></div>
        <img src="{{ url_for('static', filename='images/menu.svg') }}" 
             alt="MENU" 
             class="image-icon-menu" 
             onclick="toggleMenu()">

        <header id="main-header">
            <div class="div-main-title">
                <p class="text-main-title">Voices from behind the graves</p>
            </div>
        </header>
        <div class="div-subtitle">
            <p class="text-subtitle">Un projet de la section européenne du lycée Arcisse de Caumont</p>
        </div>

        <div class="div-main-content">
            <div class="gallery-container">
                {% for img in images %}
                    <a href="{{ img.link_to }}" class="gallery-item">
                        <img src="{{ img.url }}" alt="Image de l'article">
                    </a>
                {% else %}
                    <p>Aucune image disponible dans la galerie pour le moment.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>